configuration {
    font: "Envy Code R 10";
    line-margin: 10;

    display-ssh:    "SSH:";
    display-run:    "Run:";
    display-drun:   "Applications:";
    display-window: "Window List:";
    display-combi:  "";
    show-icons:     true;
}


@theme "~/.config/rofi/nord.rasi"

listview {
	lines: 6;
	columns: 2;
}

window {
	width: 30%;
}
